<center> <br/>
  <head>
    <title>Title of the document</title>
    <style>
      html * {
        color: #2020131;
        font-family: Courier, slab-serif;
      }
    </style>
  </head>
<title>GeoQuiz</title>
<h1>GeoQuiz</h1>
<b>Enter a Username to Sign in or Sign up</b>!
<br/><br/>
<form action="/password" method="TRUE">
<input type="text" name="name">
<br>
<input type="submit" value="OK">
</form>

<br/>
<h2>Navigation:</h2>
<a href="/">Main Menu</a> 
<br/>
<a href="/newgame">Start a new game</a> 
<br/> 
<a href="/loginuser">Sign in or Sign up</a> 
<br/>
<a href="/highscores">GeoQuiz High Scores!</a> 
</center>
